<!DOCTYPE html>
<html xmlns:th="http:\\www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>[글 수정하기]</title>
</head>
<body>
<h1>[글 수정하기]</h1>
<!-- 
	- title : 제목 문자열, 
	- content : 내용 문자열
	- originalFile : 첨부파일 정보 문자열...
 -->
 <form action = "/update" method = "Post">
 	<input type = "hidden" name = "boardNum" th:value = "${board.boardNum}">
 	<table>
 		<tr>
 			<th>제목</th>
 			<td>
 				<input type = "text" name = "title" th:value = "${board.title}">
 			</td>
 		</tr>
 		<tr>
 			<th>내용</th>
 			<td>
 				<!-- textarea에 값을 설정하려면 text 속성을 사용해야한다 -->
 				<textarea rows="5" cols="50" name = "content" th:text = "${board.content}"></textarea>
 			</td>
 		</tr>
 		<tr>
 			<th>파일첨부</th>
 			<td>
 				<input type = "file" name = "file">
 			</td>
 		</tr>
 		<tr>
 			<th colspan = "2">
 				<input type = "submit" value = "수정하기">
 				<input type = "button" value = "뒤로 가기" onclick = "javascript:history.go(-1);">
 			</th>
 		</tr>
 	</table>
 </form>
</body>
</html>